@charset "utf-8";

//
// レイアウトや共通のテンプレート・要素用CSS
//

/* Common
---------------------------------------------------------------------------*/

// ==========================================================================
// Layout 
// ==========================================================================

html {
	font-size: 10px;
}

body {
	position:relative;
	z-index:0;
	width:auto; height:auto;
	background: #FFF;	
	color: #333333;
	font-size: 1.5rem;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	line-height: 1.65;	
	letter-spacing: 0.5px;
}

.container {
	width: $width;
	margin: 0 auto;
	position: relative;
}

// ==========================================================================
// Elements
// ==========================================================================

// リンク


// テーブル


// リスト


// ページトップ


// トピックパス


// ==========================================================================
// Header
// ==========================================================================



// ==========================================================================
// Footer
// ==========================================================================



// ==========================================================================
// Sidebar
// ==========================================================================

